<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %} {% endblock %}</title>
    <style>
        /* NAVIGATION CSS */
        .header {
            background: linear-gradient(rgb(194, 164, 109), rgb(219, 131, 131));
        }

        .nav-link {
            font-size: 28px;
            font-family: 'Kanit', sans-serif;
            color: rgb(136, 110, 110) !important;
        }

        .navbar-brand {
            font-size: 28px;
            font-family: 'Kanit', sans-serif;
            color: rgb(136, 110, 110) !important;
        }

        .btn {
            font-family: 'Kanit', sans-serif;
        }

        .nav-link:hover {
            color: rgb(30, 39, 70) !important;
        }

        .navbar-brand:hover {
            color: rgb(30, 39, 70) !important;
        }

        @media(max-width:668px) {
            .nav-link {
                text-align: center;
            }
        }
        p {
            color: rgb(30, 39, 70) !important;
        }
    </style>

</head>

<body>
    {% load static %}
    <section class="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <font face="Showcard Gothic" color="tomato">
                    <h1>MEGA</h1>
                </font>
                <font face="Showcard Gothic" color="slategray">
                    <h1 class="mr-5">SHOP</h1>
                </font>
                <a class="navbar-brand" href="/">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {% if not request.session.customer %}
                        <li class="nav-item">
                            <a class="nav-link" href="/account">Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/account">Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/cart">Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/orders">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                        {% endif %}
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
    </section>

    {% block body %} {% endblock %}

    <footer class="text-center text-lg-start text-white pt-1 mt-auto"
        style="background: linear-gradient(rgb(194, 164, 109), rgb(219, 131, 131))">
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold" style="color: black;">Download Our App</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #d13a3a; height: 2px" />
                        <img src="{% static 'shop/images/appstore.png' %}" alt="" class="col-sm-9 mb-2">
                        <img src="{% static 'shop/images/playstore.png' %}" alt="" class="col-sm-9">
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <font face="Showcard Gothic" color="tomato">
                            <h1>MEGA</h1>
                        </font>
                        <font face="Showcard Gothic" color="slategray">
                            <h1>SHOP</h1>
                        </font>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-3">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold" style="color: black;">Policy</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #d13a3a; height: 2px" />
                        <p>Return Policy</p>
                        <p>Terms of Use</p>
                        <p>Privacy</p>
                        <p>Security</p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold" style="color: black;">Social</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #d13a3a; height: 2px" />
                        <p>Facebook</p>
                        <p>Twitter</p>
                        <p>Instagram</p>
                        <p>Youtube</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            <p>Copyright 2023 MegaShop - All rights reserved</p>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>